body{
    margin: 0;
    padding: 0;
    background-color: #81ecec;
    font-family: 'Domine', serif;

}
header{
    width: 100%;
    margin-top: 0;
    background-color:#ff7675;
    opacity: 0.7;
    font-family: 'Pacifico', cursive;
}
header h1{
    margin-top: 0;
    text-transform: capitalize;
    font-size: 3em;
    text-align: center;
    padding: 10px;
}
.container{
    background-color: black;
    width: 700px;
    border: 2px black dotted;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 5px 7px 8px 3px #353b48;
    /* box-shadow: -4px -4px 10px 5px white; */
}
.container h2{
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-size: 3em;
}

input{
    width: 300px;
    border: none;
    padding: 10px;
    margin-left: -150px;
    border-radius: 3px;
    margin-right: 20px;
}
.btn{
    position: absolute;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    text-transform: capitalize;
    padding: 6px;
    color: white;
    background-color:#40407a;
    border: none;
    border-radius: 2px;     
}
.list{
    margin: 40px;
    color: blanchedalmond;
}
li button{
    float:right;  
    cursor: pointer;
    width: 70px;
    font-size: 15px;
    text-transform: capitalize;
    padding: 7px;
    color: white;
    background-color:#40407a;
    border: none;
    margin: 5px;
    border-radius: 2px;  
}
h3{
    color: white;
    text-align: left;
    font-size: 25px;
    margin-bottom: 0;
}
.ulist{
    
    margin-top: 0;
    margin-left: 40px;
    padding: 2px;
    list-style: none;
    text-align: left;
}
li{
    width: 100%;
    position: relative;
    margin-right: 100px;
    margin-top: 20px;
    font-size: 20px;
    /* border-bottom: 1px solid white; */
}